header {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.header__menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 10px;
}

.header__actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-right: 1vh;
}

.menu-link {
  position: relative;;
  display: inline-flex;
  justify-content: space-between;
  align-items:stretch;
  gap: 8px;
}

.menu-link svg {
   flex-shrink: 0;
}
.menu-link::after {
  content: '';
  position: absolute;
  width: 72px;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.menu-link:hover::after {
  background-color: var(--text-primary);
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  width: 72px;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-primary);
}

.theme-toggle {
  position: relative;
  width: 88px;
  height: 44px;
  display: flex;
  border: 2px solid var(--border-primary);
  border-radius: 22px;
  gap: 8px;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 12px 0 9px;
}

.theme-toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--text-accent);
  transition: all 0.5s ease;
  z-index: 0;
}

.theme-toggle__icon {
  z-index: 2;
}

/* .theme-toggle:hover::before {
  top: 2px;
  left: 45px;
  background: var(--dark-border-primary);
} */

.theme-toggle__icon-sun {
  color: var(--text-inverse);
  transition: all 0.5s ease;
}
.theme-toggle__icon-moon {
  color: var(--text-primary);
  transition: all 0.5s ease;
}

.theme-toggle:hover .theme-toggle__icon-moon {
  color: var(--text-inverse);
}

.theme-toggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 45px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.5s ease;
  z-index: 0;
}

.theme-toggle:hover::after {
  background: var(--dark-border-primary);
}

.header-burger {
  display: none;
  position: relative;
  width: 42px;
  height: 42px;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
}

.burger-line {
  display: block;  /*span строчный элемент накидываем ему блок, чтобы корректно стилизовать */
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--text-primary);
  left: 0;
}

.first-line {
  top: 15px;
  left: 10px;
}

.second-line {
  bottom: 15px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .theme-toggle {
    position: relative;
    width: 104px;
    height: 52px;
    border-radius: 28px;
    gap: 8px;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 12px 0 9px;
  }
  .theme-toggle::before {
    top: 5px;
    left: 2px;
    width: 40px;
    height: 40px;
  }
  .theme-toggle::after {
    top: 5px;
    left: 58px;
    width: 40px;
    height: 40px;
  }

  .header-burger {
    display: block;
  }
  .nav {
    display: none;
  }
  .menu-link {
    display: none;
  }
}



@media screen and (max-width: 380px) {
  .wrapper {
    max-width: var(--mobile-width);
  }
}