header {
  width: 100%;
  height: 60px;
  margin: 20px 0 20px 0;
}


.header__menu {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.menu-link {
  display: inline-flex;
  justify-content: space-between;
  align-items:center;
  gap: 8px;
}













.theme-toggle {
  position: relative;
  width: 88px;
  height: 44px;
  display: flex;
  border: 2px solid var(--border-primary);
  border-radius: 22px;
  gap: 8px;
  background: transparent;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 9px 0 9px;
}

.theme-toggle::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--text-accent);
  transition: transform 0.3s ease;
  z-index: -1;
}