/* hero section */

.wrapper__background {
  width: 100%;
  height: auto;
  background-image: url("../assets/img/img-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  border-radius: 40px;
}


.header__logo a{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  width: 100px;
  height: 60px;
  padding-top: 9px;
  gap: 10px;
}

.title-resource,
.title-coffeHouse {
  z-index: 2;
}

.header__logo a::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 31px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--text-accent);
  transition: all 0.5s ease;
  z-index: 1;
}

.hero__offer {
  max-width: 530px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.button.button-menu {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--background-page);
  font: inherit;
  font-weight: 600;
  border: none;
  justify-content: center;
  padding: 22px 40px 18px 50px;
  gap: 8px;
}

.button-menu__inner-svg {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.button.button-menu:hover .button-menu__inner-svg {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .wrapper__background {
    padding: 100px 60px;
  }
  .button-menu__inner-svg {
    opacity: 1;
  }
}

@media screen and (max-width: 380px) {
  .wrapper__background {
    padding: 60px 16px;
  }
}


/* favorite-coffee section */
.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  gap: 40px;
  padding: 0 4px 0 4px;
}

.slider__button {
  flex-shrink: 0;
  min-width: max-content;
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 50%;
  border: 1px solid var(--border-inverse);
  background-color: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  color: var(--text-primary);
}

.slider__button svg {
   flex-shrink: 0;
  width: 28px;
  height: 28px;
}

/* .slider__button svg {
  z-index: 5;
  color: var(--text-inverse);
} */

.slider__button:hover {
  background-color: var(--background-container);
  color: var(--text-inverse);
}

/* .slider__button:hover path{
  stroke: var(--text-inverse);
} */

.slider-img {
  width: 480px;
  height: 480px;
}

.slider-img img {
  height: auto;
  object-fit: cover;
}

.slide-description {
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  align-content: center;
}

.slide-description p {
  text-align: center;
}

.slider-pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 40px;
}

.slider-line {
  width: 40px;
  height: 4px;
  border: none;
  padding: 0;
  border-radius: 2px;
  background-color: var(--border-primary); /* неактивный цвет светло-бежевый */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-line:nth-child(1) {
  background-color: var(--border-inverse);
}

/* about section */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-flex {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.about-flex__left,
.about-flex__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-flex__left div,
.about-flex__right div {
  overflow: hidden;
  border-radius: 20px;
  max-width: 660px;
}

.about-flex img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.7s ease;
}

:is(.about-1, .about-2, .about-3, .about-4):hover img {
  transform: scale(1);
  transition: transform 0.8s ease;
}

.about-1 {
  max-height: 590px;
}

.about-2 {
  max-height: 430px;
}

.about-3 {
  max-height: 430px;
}

.about-4 {
  max-height: 590px;
}

@media screen and (max-width: 768px) {
  .about-flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

  .about-2 {
    display: none;
  }

  .about-3 {
    display: none;
  }

  .about-flex__left,
  .about-flex__right {
    display: flex;
  }

  .about-flex__left div,
  .about-flex__right div {
    overflow: hidden;
    border-radius: 20px;
    max-width: 688px;
  }
  .about-flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.7s ease;
  }
}


@media screen and (max-width: 380px) {}

/* mobile-apps section */

.mobile-apps__container {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}

.mobile-apps__offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
  /* max-height: 342px; */
}

.mobile-apps__buttons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.mobile-apps_image {
  max-width: 630px;
}

.mobile-apps_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.store-btn,
.android-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid var(--border-inverse);
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 100px;
  width: 200px;
  height: 64px;
}

.store-btn:hover,
.android-btn:hover {
  background-color: var(--background-container);
  color: var(--text-inverse);
}

.store-btn > svg {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

.store-btn__text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .mobile-apps__container {
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-apps__offer {
  gap: 40px;
  max-width: 688px;
  }
}

@media screen and (max-width: 380px) {}
